apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: goapp

images:
- name: jeanpsampaio/argocd-fullcycle
  newName: jeanpsampaio/argocd-fullcycle
  newTag: v1